<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :employed %>
    <%= form.check_box :employed %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, contact.class.genders.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
